<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>IW: Welcome</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Bienvenid@</h1>
        

            <p style="text-align: justify;"> 
                MenUni nace como solución a la desapercibidas ofertas y productos diarios y la ineficacia
                de su promoción los servicios de comida del campus. Actualmente, los estudiantes y el
                personal se enfrentan a colas innecesarias y falta de información sobre la oferta diaria.
                Este proyecto propone una plataforma web centralizada que digitaliza la interacción entre
                las cafeterías universitarias y sus usuarios. El sistema permite consultar menús detallados
                (con fotos reales y alérgenos), gestionar el stock para reducir el desperdicio alimentario y
                fomentar una comunidad basada en reseñas de primera mano.
            </p>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>